In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password= "7@u*sqJX"   #REPLACE THIS WITH THE PASSWORD YOU SET
)
 
print(mydb)
 
if mydb.is_connected():
    print("CONNECTION SUCCESSFUL")

<mysql.connector.connection_cext.CMySQLConnection object at 0x11600a150>
CONNECTION SUCCESSFUL

In [3]:
#create a database
mycursor = mydb.cursor()

#mycursor.execute("CREATE DATABASE data1050f24")

In [4]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('data1050f24',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [37]:
#create a table
mycursor = mydb.cursor()
# mycursor.execute('''CREATE TABLE data1050F24.department ( 
# dept_name VARCHAR(128) PRIMARY KEY, 
# building VARCHAR(255), 
# budget INT)''')

In [38]:
mycursor = mydb.cursor()
# mycursor.execute('''CREATE TABLE data1050F24.student (
# ID VARCHAR(128) PRIMARY KEY,
# name VARCHAR(255) NOT NULL,
# dept_name VARCHAR(128),
# tot_cred INT),
# foreign key(dept_name) references data1050F24.department(dept_name)''')

In [39]:
mycursor = mydb.cursor()
# mycursor.execute('''CREATE TABLE data1050F24.instructor (
# ID VARCHAR(128) PRIMARY KEY,
# name VARCHAR(255) NOT NULL,
# dept_name VARCHAR(128),
# salary INT),
# foreign key (dept_name) references
# department(dept_name)''')

In [49]:
mycursor = mydb.cursor()
mycursor.execute('''CREATE TABLE data1050F24.course (
course_id VARCHAR(128) PRIMARY KEY,
title VARCHAR(128) NOT NULL,
dept_name VARCHAR(128),
credits INT)''')

In [58]:
mycursor = mydb.cursor()
mycursor.execute ('''
                  CREATE TABLE data1050F24.prereq (
                  course_id VARCHAR(128),
                  prereq_id INT,
                  PRIMARY KEY(course_id,prereq_id)
                  );'''
                  )

In [44]:
mycursor = mydb.cursor()
# mycursor.execute('''CREATE TABLE data1050F24.advisor (
# s_id INT PRIMARY KEY,
# i_id INT),
# foreign key(s_id) references data1050F24.student(ID),
# foreign key(i_id) references data1050F24.instructor(ID)''')

In [45]:
mycursor = mydb.cursor()
# mycursor.execute('''CREATE TABLE data1050F24.classroom (
# building VARCHAR(128) PRIMARY KEY,
# room_no INT PRIMARY KEY,
# capacity INT)''')

In [46]:
query = ('ALTER TABLE data1050F24.student ADD foreign key(dept_name) references data1050F24.department(dept_name)')
mycursor.execute(query)

In [47]:
query = ('ALTER TABLE data1050F24.instructor ADD foreign key(dept_name) references data1050F24.department(dept_name)')
mycursor.execute(query)

In [52]:
query = ('ALTER TABLE data1050F24.course ADD foreign key(dept_name) references data1050F24.department(dept_name)')
mycursor.execute(query)

In [63]:
query = ('ALTER TABLE data1050F24.prereq ADD CONSTRAINT FK_prereq foreign key(course_id) references data1050F24.course(course_id)')
mycursor.execute(query)

In [15]:
#connect to a specific database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password= "7@u*sqJX", #REPLACE THIS WITH YOUR PASSWORD 
  database = "data1050f24" #connecting to testDatabase
)

In [16]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('department',)
('instructor',)
('student',)

In [17]:
import pandas as pd

In [18]:
pip install fsspec

Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (2024.3.1)
Note: you may need to restart the kernel to use updated packages.

In [19]:
#point the path to where in your hard drive you have stored the file department.csv
data = pd.read_csv("department.csv")

In [20]:
for i,row in data.iterrows():
            sql = "INSERT INTO department VALUES (%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

IntegrityError: 1062 (23000): Duplicate entry 'CompSci' for key 'department.PRIMARY'

In [21]:
query = "SELECT * from department"
mycursor.execute(query)

In [22]:
for x in mycursor:
    print(x)

('AppMath', 'Pembroke', 1000525)
('CompSci', 'CIT', 4000000)
('DSI', 'Angell', 750000)
('Econ', 'Watson', 1230000)
('English', 'Litereria', 1389400)
('Math', 'Pembroke', 999785)
('Philosophy', 'Athenia', 300000)
('Psychology', 'Skinner', 1223350)
('Sociology', 'Watson', 789000)

In [23]:
#point the path to where in your hard drive you have stored the file student.csv
data = pd.read_csv("student.csv")
data.head()

     ID         name   dept_name  tot_cred
0  1238   John Smith         DSI         4
1  1645     Jane Doe  Philosophy         9
2  1888  Chuning Liu     CompSci         5
3  1970  Stan Ambani        Econ         0
4  1845    Jane Chen         DSI         2

In [24]:
data.dtypes

ID            int64
name         object
dept_name    object
tot_cred      int64
dtype: object

In [25]:
for i,row in data.iterrows():
            sql = "INSERT INTO student VALUES (%s,%s,%s, %s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

IntegrityError: 1062 (23000): Duplicate entry '1238' for key 'student.PRIMARY'

In [26]:
query = "SELECT * from student"
mycursor.execute(query)

In [27]:
for x in mycursor:
    print(x)

('1122', 'Julia Rodriguez', 'AppMath', Decimal('8.00'))
('1221', 'Ivan Petrov', 'Psychology', Decimal('9.00'))
('1238', 'John Smith', 'DSI', Decimal('4.00'))
('1298', 'Marvel Comic', 'Psychology', Decimal('6.00'))
('1333', 'Mukesh Modi', 'DSI', Decimal('7.00'))
('1444', 'Suresh Verma', 'English', Decimal('4.00'))
('1455', 'Molly Bloom', 'English', Decimal('5.00'))
('1645', 'Jane Doe', 'Philosophy', Decimal('9.00'))
('1845', 'Jane Chen', 'DSI', Decimal('2.00'))
('1881', 'Holly Zheng', 'Sociology', Decimal('5.00'))
('1888', 'Chuning Liu', 'CompSci', Decimal('5.00'))
('1934', 'Boris Pasternak', 'Math', Decimal('3.00'))
('1970', 'Stan Ambani', 'Econ', Decimal('0.00'))
('1999', 'Peter Lynch', 'AppMath', Decimal('6.00'))
('2142', 'Sabrina Zhou', 'DSI', Decimal('4.00'))
('2143', 'Maya Abdul', 'Sociology', Decimal('3.00'))
('2144', 'Karim Shiny', 'English', Decimal('5.00'))
('2145', 'Valentino Love', 'Psychology', Decimal('4.00'))
('2946', 'Steve Brown', 'Math', Decimal('9.00'))
('3303', 'Jane Lynch', 'Philosophy', Decimal('3.00'))

In [28]:
#point the path to where in your hard drive you have stored the file instructor.csv
data = pd.read_csv("instructor.csv")
data.head()

    ID           name   dept_name  salary
0  111      Joe Smith         DSI  120000
1  112     Ying Zheng     CompSci  220000
2  113  Sunil Agarwal     AppMath   99000
3  114    Jennifer Lo     English   86000
4  115    Taylor Slow  Psychology   90000

In [29]:
for i,row in data.iterrows():
            sql = "INSERT INTO instructor VALUES (%s,%s,%s, %s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

IntegrityError: 1062 (23000): Duplicate entry '111' for key 'instructor.PRIMARY'

In [30]:
query = "SELECT * from instructor"
mycursor.execute(query)

In [31]:
for x in mycursor:
    print(x)

('111', 'Joe Smith', 'DSI', 120000)
('112', 'Ying Zheng', 'CompSci', 220000)
('113', 'Sunil Agarwal', 'AppMath', 99000)
('114', 'Jennifer Lo', 'English', 86000)
('115', 'Taylor Slow', 'Psychology', 90000)
('116', 'Friar Driver', 'English', 88000)
('117', 'Carmen Herman', 'DSI', 150000)
('118', 'Calista Holistic', 'CompSci', 123000)
('119', 'Rashid Irani', 'Psychology', 101000)

In [32]:
#point the path to where in your hard drive you have stored the file course.csv
data = pd.read_csv("course.csv")
data.head()

  course_id                        title dept_name  credits
0  Data1050             Data Engineering       DSI      1.0
1  Data1030        Hands-on data science       DSI      1.0
2  APMA1650      Statistical Inference 1   AppMath      1.0
3  CSCI1270  Database Management Systems   CompSci      1.0
4  Data1450                Text Analysis       DSI      1.0

In [33]:
for i,row in data.iterrows():
            sql = "INSERT INTO course VALUES (%s,%s,%s, %s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

ProgrammingError: 1146 (42S02): Table 'data1050f24.course' doesn't exist

In [34]:
query = "SELECT * from course"
mycursor.execute(query)

ProgrammingError: 1146 (42S02): Table 'data1050f24.course' doesn't exist

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
#point the path to where in your hard drive you have stored the file prereq.csv
data = pd.read_csv("prereq.csv")
data.head()

In [ ]:
for i,row in data.iterrows():
            sql = "INSERT INTO prereq VALUES (%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [ ]:
query = "SELECT * from prereq"
mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
#point the path to where in your hard drive you have stored the file advisor.csv
data = pd.read_csv("advisor.csv")
data.head()

In [ ]:
for i,row in data.iterrows():
            sql = "INSERT INTO advisor VALUES (%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [ ]:
query = "SELECT * from advisor"
mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
#point the path to where in your hard drive you have stored the file classroom.csv
data = pd.read_csv("classroom.csv")
data.head()

In [ ]:
for i,row in data.iterrows():
            sql = "INSERT INTO classroom VALUES (%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [ ]:
query = "SELECT * from classroom"
mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)