In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password= "7@u*sqJX"   #REPLACE THIS WITH THE PASSWORD YOU SET
)
 
print(mydb)
 
if mydb.is_connected():
    print("CONNECTION SUCCESSFUL")

<mysql.connector.connection_cext.CMySQLConnection object at 0x11093a9c0>
CONNECTION SUCCESSFUL

In [5]:
#create a database
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE data1050f24")

DatabaseError: 1007 (HY000): Can't create database 'data1050f24'; database exists

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

In [ ]:
#create a table
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE data1050F24.department (
dept_name VARCHAR(128) PRIMARY KEY,
building VARCHAR(255),
budget INT)")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE data1050F24.student (
ID VARCHAR(128) PRIMARY KEY,
name VARCHAR(255) NOT NULL,
dept_name VARCHAR(128),
tot_cred INT),
foreign key(dept_name) references data1050F24.department(dept_name)")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE data1050F24.instructor (
ID VARCHAR(128) PRIMARY KEY,
name VARCHAR(255) NOT NULL,
dept_name VARCHAR(128),
salary INT),
foreign key(dept_name) references data1050F24.department(dept_name)")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE data1050F24.course (
course_id VARCHAR(128) PRIMARY KEY,
title VARCHAR(128) NOT NULL,
dept_name VARCHAR(128),
credits INT),
foreign key(dept_name) references data1050F24.department(dept_name)")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE data1050F24.prereq (
course_id VARCHAR(128) PRIMARY KEY,
prereq_id INT PRIMARY KEY),
foreign key(course_id) references data1050F24.course(course_id)
foreign key(prereq_id) references data1050F24.course(course_id)")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE data1050F24.advisor (
s_id INT PRIMARY KEY,
i_id INT),
foreign key(s_id) references data1050F24.student(ID),
foreign key(i_id) references data1050F24.instructor(ID)")

In [ ]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE data1050F24.classroom (
building VARCHAR(128) PRIMARY KEY,
room_no INT PRIMARY KEY,
capacity INT)")

In [ ]:
#query = ('ALTER TABLE data1050F24.student ADD foreign key(dept_name) references data1050F24.department(dept_name)')
#mycursor.execute(query)

In [ ]:
#query = ('ALTER TABLE data1050F24.instructor ADD foreign key(dept_name) references data1050F24.department(dept_name)')
#mycursor.execute(query)

In [ ]:
#query = ('ALTER TABLE data1050F24.course ADD foreign key(dept_name) references data1050F24.department(dept_name)')
#mycursor.execute(query)

In [ ]:
#query = ('ALTER TABLE data1050F24.prereq ADD foreign key(course_id) references data1050F24.course(course_id)')
#mycursor.execute(query)

In [ ]:
#connect to a specific database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password= "7@u*sqJX", #REPLACE THIS WITH YOUR PASSWORD 
  database = "data1050f24" #connecting to testDatabase
)

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

In [ ]:
import pandas as pd

In [ ]:
pip install fsspec

In [ ]:
#point the path to where in your hard drive you have stored the file department.csv
data = pd.read_csv("department.csv")

In [ ]:
for i,row in data.iterrows():
            sql = "INSERT INTO department VALUES (%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [ ]:
query = "SELECT * from department"
mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
#point the path to where in your hard drive you have stored the file student.csv
data = pd.read_csv("student.csv")
data.head()

In [ ]:
data.dtypes

In [ ]:
for i,row in data.iterrows():
            sql = "INSERT INTO student VALUES (%s,%s,%s, %s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [ ]:
query = "SELECT * from student"
mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
#point the path to where in your hard drive you have stored the file instructor.csv
data = pd.read_csv("instructor.csv")
data.head()

In [ ]:
for i,row in data.iterrows():
            sql = "INSERT INTO instructor VALUES (%s,%s,%s, %s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [ ]:
query = "SELECT * from instructor"
mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
#point the path to where in your hard drive you have stored the file course.csv
data = pd.read_csv("course.csv")
data.head()

In [ ]:
for i,row in data.iterrows():
            sql = "INSERT INTO course VALUES (%s,%s,%s, %s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [ ]:
query = "SELECT * from course"
mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
#point the path to where in your hard drive you have stored the file prereq.csv
data = pd.read_csv("prereq.csv")
data.head()

In [ ]:
for i,row in data.iterrows():
            sql = "INSERT INTO prereq VALUES (%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [ ]:
query = "SELECT * from prereq"
mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
#point the path to where in your hard drive you have stored the file advisor.csv
data = pd.read_csv("advisor.csv")
data.head()

In [ ]:
for i,row in data.iterrows():
            sql = "INSERT INTO advisor VALUES (%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [ ]:
query = "SELECT * from advisor"
mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)

In [ ]:
#point the path to where in your hard drive you have stored the file classroom.csv
data = pd.read_csv("classroom.csv")
data.head()

In [ ]:
for i,row in data.iterrows():
            sql = "INSERT INTO classroom VALUES (%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we 
            # must commit to save our changes
            mydb.commit()

In [ ]:
query = "SELECT * from classroom"
mycursor.execute(query)

In [ ]:
for x in mycursor:
    print(x)