# Data 1050 SQL Project

## Create Database

In [59]:
pip install mysql-connector-python # type: ignore

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.12/site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [60]:
import mysql.connector # type: ignore
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password= "7@u*sqJX"   #REPLACE THIS WITH THE PASSWORD YOU SET
)
 
print(mydb)
 
if mydb.is_connected():
    print("CONNECTION SUCCESSFUL")

<mysql.connector.connection_cext.CMySQLConnection object at 0x13fc9c1a0>
CONNECTION SUCCESSFUL

In [61]:
#create a database
mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE IF EXISTS data1050SQLProject")
mycursor.execute("CREATE DATABASE data1050SQLProject")

In [62]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('data1050f24',)
('data1050SQLProject',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

### Connecting to a database and showing tables

In [63]:
#connect to a specific database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password= "7@u*sqJX", #REPLACE THIS WITH YOUR PASSWORD 
  database = "data1050SQLProject" #connecting to testDatabase
)

In [64]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

In [65]:
import pandas as pd # type: ignore

In [66]:
pip install fsspec # type: ignore

Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (2024.6.1)
Note: you may need to restart the kernel to use updated packages.

### Add Tables

In [67]:
#create a table
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS data1050SQLProject.physicians")
mycursor.execute('''CREATE TABLE data1050SQLProject.physicians ( 
                    ssn VARCHAR(128) PRIMARY KEY, 
                    name VARCHAR(128), 
                    primary_specialty VARCHAR(128),
                    experience_years INT);''')

In [68]:
#create a table
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS data1050SQLProject.patients")
mycursor.execute('''CREATE TABLE data1050SQLProject.patients ( 
                    ssn VARCHAR(128) PRIMARY KEY, 
                    name VARCHAR(128), 
                    address VARCHAR(128),
                    birth_date DATETIME,
                    physician_id VARCHAR(128),
                    foreign key(physician_id) references data1050SQLProject.physicians(ssn));''')

In [69]:
#create a table
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS data1050SQLProject.pharmacies")
mycursor.execute('''CREATE TABLE data1050SQLProject.pharmacies ( 
                    id INT PRIMARY KEY, 
                    name VARCHAR(128), 
                    address VARCHAR(128),
                    phone VARCHAR(128));''')

In [70]:
#create a table
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS data1050SQLProject.drugs")
mycursor.execute('''CREATE TABLE data1050SQLProject.drugs ( 
                    id VARCHAR(128), 
                    name VARCHAR(128) PRIMARY KEY);''')

In [71]:
#create a table
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS data1050SQLProject.prescriptions")
mycursor.execute('''CREATE TABLE data1050SQLProject.prescriptions ( 
                    id INT PRIMARY KEY, 
                    patient_id VARCHAR(128), 
                    physician_id VARCHAR(128),
                    drug_name VARCHAR(128),
                    date DATE,
                    quantity INT,
                    foreign key(patient_id) references data1050SQLProject.patients(ssn),
                    foreign key(physician_id) references data1050SQLProject.physicians(ssn),
                    foreign key(drug_name) references data1050SQLProject.drugs(name));''')

In [72]:
#create a table
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS data1050SQLProject.adverse_interactions")
mycursor.execute('''CREATE TABLE data1050SQLProject.adverse_interactions ( 
                    drug_name VARCHAR(128), 
                    drug_name_2 VARCHAR(128), 
                    PRIMARY KEY (drug_name,drug_name_2),
                    foreign key(drug_name) references data1050SQLProject.drugs(name));''')

In [73]:
#create a table
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS data1050SQLProject.alerts")
mycursor.execute('''CREATE TABLE data1050SQLProject.alerts ( 
                    patient_id VARCHAR(128), 
                    physician_id VARCHAR(128), 
                    alert_date DATETIME,
                    drug1 VARCHAR(128),
                    drug2 VARCHAR(128),
                    PRIMARY KEY (patient_id,physician_id,alert_date,drug1,drug2),
                    foreign key(patient_id) references data1050SQLProject.patients(ssn),
                    foreign key(physician_id) references data1050SQLProject.physicians(ssn),
                    foreign key(patient_id,drug1) references data1050SQLProject.prescriptions(patient_id,drug_name),
                    foreign key(patient_id,drug2) references data1050SQLProject.prescriptions(patient_id,drug_name)
                 );''')

DatabaseError: 1822 (HY000): Failed to add the foreign key constraint. Missing index for constraint 'alerts_ibfk_3' in the referenced table 'prescriptions'

In [56]:
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS data1050SQLProject.pharmacy_fills")
mycursor.execute('''CREATE TABLE data1050SQLProject.pharmacy_fills ( 
                    prescription_id INT, 
                    pharmacy_id INT, 
                    date DATE,
                    cost DECIMAL(5,2),
                    PRIMARY KEY (prescription_id,pharmacy_id),
                    foreign key(prescription_id) references data1050SQLProject.prescriptions(id),
                    foreign key(pharmacy_id) references data1050SQLProject.pharmacies(id));''')

In [57]:
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS data1050SQLProject.companies")
mycursor.execute('''CREATE TABLE data1050SQLProject.companies ( 
                    id INT PRIMARY KEY, 
                    name VARCHAR(128), 
                    address VARCHAR(128),
                    contact_phone VARCHAR(128),
                    contact_name VARCHAR(128));''')

In [58]:
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE IF EXISTS data1050SQLProject.contracts")
mycursor.execute('''CREATE TABLE data1050SQLProject.contracts ( 
                    id INT PRIMARY KEY, 
                    company_id INT,
                    pharmacy_id INT,
                    drug_name VARCHAR(128),
                    dosage INT, 
                    quantity INT,
                    date DATE,
                    foreign key(company_id) references data1050SQLProject.companies(id),
                    foreign key(pharmacy_id) references data1050SQLProject.pharmacies(id),
                    foreign key(drug_name) references data1050SQLProject.drugs(name));''')